<? if (isset($invitados)) { ?>
<h5><?__('Online Users');?></h5>
<ul>
   <li><?php echo $invitados; ?> <?__('gests');?>.</li>
   
   <?php if ($miembros > 0) { ?>
   <li><?php echo $miembros; ?> <?__('Pilots');?>.</li>
<?php } ?>.
</ul>
<? } ?>