<div class="grid_2">
<?

echo $html->link('Back',array('action'=>'index'),array('class'=>'btn'));

?>
</div>

<div class="grid_10">
<?

echo $form->create('NavigationMenu');
echo $form->hidden('id');
echo $form->input('name');
echo $form->input('url');
echo $form->input('parent_id', array('selected'=>$this->data['NavigationMenu']['parent_id']));
echo $form->input('user_groups',array('options'=>$groups,'multiple'=>'true'));
echo $form->end('Update');

?>
</div>
