<div class="grid_2"><?php

echo $html->link('Back',array('action'=>'index'),array('class'=>'btn'));

?>
	
</div>

<div class="grid_10">
<?
echo $form->create('NavigationMenu');
echo $form->input('name',array('label'=>'Name'));
echo $form->input('url',array('label'=>'Action'));
echo $form->input('parent_id',array('label'=>'Parent'));
echo $form->input('user_groups',array('options'=>$groups,'multiple'=>'true'));
echo $form->end('Add');

?>
</div>
