/**
 * Basic
 */
* { margin: 0;}
html, body {  height: 100%; }

a { color: #21759B; }
a:hover { color: #D54E21; }
.error,.notice,.success,.message { padding: 0 0.8em 0em 0.8em; margin-bottom: 1em; border: 1px solid #ddd; }
.error { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.error label{margin-top:1px;}
.notice,.message { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a { color: #D12F19; }
.notice a,.message a { color: #817134; }
.success a { color: #529214; }
.disabled{visibility:hidden;}
#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -50px; }

form.search{}
form.search div.input{height:31px;width:300px; margin:10px 0;}
form.search label,form.search input,form.search div.input,form.search .submit{float:left;margin: 3px 5px;}
form.search label{width:auto;}
form.search input{width:100px; }
form.search .submit{width:80px; }


.actions ul li{ float:left; margin:0px;}
.button {padding:0 20px;height:30px;margin:0px 2px;}

ul#menu{}
ul#menu li{float:left;}


.container_16{background:white;overflow:auto;}
.account{background:#333;padding:3px; font-size: 90%;margin-bottom: 2%;}
.adminIcons{overflow:auto;margin:1%;padding:1%;width:270px; float:left;}
.adminIcons:hover{background:#ececec;}
.adminIcons h2,.adminIcons p,.adminIcons img{float:left;}
.adminIcons h2,.adminIcons p{clear:right; width:180px; margin:0;padding:0;}
.adminIcons img{display:block;}
#footer{background:#ccc;}
#footer p{background:none;width:100px;float:left;margin:5px 0 0 0; padding:0 0 0 20px;}