@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis);
@import url(http://fonts.googleapis.com/css?family=Sansita+One);

/*======= Global elements =======*/
h1, h2, h3, #featured-box strong, .title, .title-1, #newsletter-form strong, #slideshow p{font-family: 'Terminal Dosis', sans-serif; font-size:110%;}
.navMenu li{font-family: 'Sansita One', sans-serif; }

* {
	margin: 0;
	padding: 0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
html,body {margin:0;padding:0}
body {
	font-family:"Lucida Sans", Arial;
	font-size:11px;
	padding:0;
	line-height:18px;
	color:#8c8c8c;
	background: url(../img/layout/bg.png) repeat 50% 0%;
}
.clear {
	clear: both;
	font-size: 0%;
	line-height: 0%;
	height: 0;
}
.right{float:right;}
.center{text-align:center;}
input, select {
	vertical-align: middle;
	font-weight: normal;
}
img {
	border: 0;
	vertical-align: top;
	text-align: left;
}
ul, ol {
	list-style: none;
}
object {
	vertical-align: top;
	outline: none;
}
/* links */
a, a:visited {text-decoration:none; font-weight:normal; color:#2a2a2a}
a:hover{text-decoration:underline;}
a img{border:none}


h1, h2 {
	padding: 10px 0 16px 0;
	line-height: 1.2em;
	font-size: 1.75em;
	font-weight: 400;
	text-transform: uppercase;
	color: #323232;
	margin:1% auto;
}
h2{font-size:140%;}
h2 em {
	display: block;
	margin: 0 0 -4px 0;
	font-style: normal;
}
h3 {
	padding: 15px 0;
	line-height: 1.25em;
	font-size: 2em;
	font-weight: 400;
	font-size:120%;
	/*color: #f0f0f0;*/
}
h3 em {
	display: block;
	margin: 0 0 -4px 0;
	font-style: normal;
}
h4 {
	width: 100%;
	padding: 15px 0;
	overflow: hidden;
	line-height: 1.5em;
	font-size: 1em;
	color: #bb0000;
}
h4 small {
	float: right;
	padding: 0 19% 0 0;
	font-size: 1em;
}
h5 {
	padding: 0 0 18px 0;
	line-height: 1.5em;
	font-size: 1em;
	color: #5a5959;
}
h6 {
	line-height: 1.5em;
	font-size: 1em;
	color: #979797;
}

dl{margin:10px;}
dl dt{font-weight: bold;}
dl dd{margin:0 0 5px 5px;}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	margin-bottom:20px;
}
ul, ol {
	margin:10px 0 20px 20px;
	list-style-position:inside
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	
blockquote {
	margin:0px 0 20px 0px;
	padding:0px 10px 0px 40px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	font-style:italic;
	font-size:16px;
	line-height:22px;
	}

blockquote p{margin-bottom:0px; font-size:16px; line-height:22px}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #cfcfcf;
	padding:15px 10px;
}


.fleft {
	float: left;
}
img.fleft {
	margin: 0 31px 0 1px;
}
img.fleft1 {
	float: left;
	margin: 0 31px 23px 1px;
}
.fright {
	float: right;
}
.column-1, .column-2, .column-3{
	float: left;
	overflow: hidden;
}
.img-floatleft {
float:left;
margin-bottom:0;
margin-left:0;
margin-right:15px;
margin-top:0;
}
.img-floatright {
float:right;
margin-bottom:0;
margin-right:15px;
margin-left:15px;
margin-top:0;
}

.title {
	padding: 0 0 21px 0;
	word-spacing: -1px;
	line-height: 1.25em;
	font-size: 2em;
	font-weight: 400;
	color: #f0f0f0;
}
.title strong {
	text-transform: uppercase;
	font-weight: 400;
	color: #a6a5a5;
}
.title span {
	display: block;
}
/*======= Main  elements =======*/

#content {
	background: white;
	overflow:auto;
}
#sitearea {
	/*width: 970px;
	margin: 0 auto;*/
	
}
#header {
	margin:0;
	background:#333 url(../img/layout/header_bg.gif);
	padding: 1% 1% 0 1%;
}
#header a#logo{float:left;font-family: 'Sansita One', cursive;color:#ececec; display:block;font-size:300%;height:22px; margin:1%;}
#header a#logo:hover{color:white; text-decoration: none; }

#header ul, #footer ul{
    float:right;
    list-style-type: none;
    margin:0;
    overflow: visible;
    padding: 0;
    display:inline;}
#header ul li, #footer ul li{    float: left;
    height: 32px;
    margin: 0 0 0 30px;
    font-size:110%;
    padding: 0;}
#header ul li a, #footer ul li a{   color: #909090;
    display: block;
    font-size: 11px;
    line-height: 24px;
    margin: auto 0;
    padding: 16px 8px 0;
    text-decoration: none;}
#header ul li a:hover, #footer ul li a:hover{    color: #FFFFFF;
    display: block;
    text-decoration: none;}


#subHeader ul{margin:10px 0;width:120px;float:left;}
#subHeader ul li{float: left;padding: 0 0 0 5px;}
#subHeader{height:20px; width:100%; padding:15px 0;}
#subHeader span{width:810px;float:left;margin:10px;}


.mainContent{background:url(../img/layout/shadow.png) top center no-repeat; padding:3px 0 0 0; }
.navhome a:visited{color: #8C8C8C !important;}
.indexHeadings{background:url(../img/layout/pattern_square.gif) repeat;border-bottom:1px solid #ccc; margin:0 0 5px 0; text-align:center;}
.indexHeadings h1{margin:0 auto;padding:1%;}
.indexHeadings p{margin:0 1% 1% 1%;font-size:130%;font-family:'Terminal Dosis',sans-serif;}

/* ======= Content area wrapper-level2 ======= */
#content-wrapper-level2 {
	width: 100%;
}
#content-wrapper-level2 #alignment {
	padding: 4px 0 0 0;
}
#content-wrapper-level2 p {
	padding: 0 0 18px 0;
	line-height: 1.5em;
	font-size: 1em;
	color: #979797;
}
#content-wrapper-level2 p strong {
	color: #c1c1c1;
}
.indexBox{width:880px;margin:auto; height:115px; overflow:auto;}
.indexBox img,.indexBox h2{float:left;}
.indexBox img{margin-left:30px;}
.indexBox h2{margin-top:0px;padding-top:5px;margin-left:10px;}
.indexBox p{text-align:justify; clear:both;}


.photoGallery{width:80%;float:left;}
.photoGallery a{margin:1%;height:80px;overflow:hidden;width:100px;display:block;float:left;}
.photoGallery img{}
/*======= Newsletter form / aweber  =======*/
#newsletter-form {
	width: 240px;
}
#newsletter-form strong {
	display: block;
	padding: 0 0 20px 0;
	line-height: 1.2em;
	font-size: 1.75em;
	font-weight: 400;
	text-transform: uppercase;
	color: #eeeeee;
}
#newsletter-form em {
	display: block;
	width: 100%;
	padding: 0 0 4px 0;
	overflow: hidden;
	line-height: 1.5em;
	font-size: 1em;
	font-style: normal;
	color: #eee;
}
#newsletter-form em a {
	text-decoration: none;
	color: #eee;
}
#newsletter-form em a:hover {
	text-decoration: underline;
}
#newsletter-form em i a {
	float: left;
	margin: 2px 8px 0 0;
	word-spacing: -1px;
	text-decoration: none;
	font-style: normal;
	color: #828080;
}
#newsletter-form em i a:hover {
	text-decoration: underline;
}
#newsletter-form em big {
	font-size: 1em;
}
#newsletter-form em big a {
	text-decoration: underline;
	color: #eee;
}
#newsletter-form em big a:hover {
	text-decoration: none;
}
#newsletter-form b {
	display: block;
	width: 67px;
	height: 23px;
	overflow: hidden;
	float: left;
	line-height: 22px;
	font-size: 1em;
	font-weight: normal;
	color: #eee;
}
#newsletter-form label {
	display: block;
	height: 32px;
	overflow: hidden;
}
#newsletter-form label input {
	width: 163px;
	height: 14px;
	padding: 3px 3px 3px 3px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000;
	background-color: #FBFBFB;
}
#newsletter-form input#login-submit {
	background: url(../img/layout/login-submit.jpg) no-repeat 0% 0%;
	width: 91px;
	height: 30px;
	margin: 4px 0 6px 0;
	padding: 0;
	border: none;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
#newsletter-form input#login-submit:hover {
	color: #000;
}
#newsletter-form input#checkbox {
	float: left;
	width: 12px;
	height: 12px;
	margin: 15px 7px 0 0;
}
#newsletter-form span {
	float: left;
	margin: 12px 0 0 0;
	line-height: 1.5em;
	font-size: 1em;
	color: #eee;
}
/*======= Content lists  =======*/
.list {
	padding: 0 0 18px 0;
	overflow: hidden;
}
.list li {
	background: url(../img/layout/points.jpg) no-repeat 0% 6px;
	padding: 0 0 0 21px;
	line-height: 2.083em;
	font-size: 1em;
	color: #2d2d2d;
}
.list li a {
	color: #2d2d2d;
	text-decoration:none;
}
.list li a:hover {
	color:#bb0000;
	text-decoration: none;
}
.list-1 {
	overflow: hidden;
	padding: 0 0 8px 0;
}
.list-1 li {
	padding: 0 0 21px 0;
	line-height: 1.5em;
	font-size: 1em;
	color: #5a5959;
}
.list-1 li a {
	color: #5a5959;
}
.list-2 {
	overflow: hidden;
	padding: 0 0 26px 1px;
}
.list-2 li {
	background: url(../img/layout/arrow.jpg) no-repeat 0% 6px;
	padding: 0 0 0 21px;
	line-height: 2.167em;
	font-size: 1em;
	color: #bb0000;
}
.list-2 li a {
	text-decoration: none;
	color: #bb0000;
}
.list-2 li a:hover {
	color:#2d2d2d;
	text-decoration: none;
}
.pic-align {
	margin: 0 0 23px 0;
}
/*======= slideshow  =======*/

#slideshow {
    background-color:#111111;
    width: 100%;
    height: 359px;
    overflow: hidden;
    float:left;
    position: relative;
    margin-bottom:20px;
}
#slideshow p {
	width: 921px;
	height: 26px;
	padding: 10px;
	overflow: hidden;
	letter-spacing: -1px;
	font-size:2em;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow:1px 1px 1px #000;
	color: #fff;
	position: absolute;
	top: 287px;
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	left: 0px;	
}
#slideshow .paging a{
	width: 35px;
	height: 24px;
	display: block;
	background: url("../img/sprite.png") no-repeat ;
	overflow: hidden;
	top: 325px;
	position: absolute;
	text-indent: -50000px;
}
#slideshow .paging a.next {
	background-position: 3px -496px;
	right: 19px;
	text-indent: -100px;
}
#slideshow .paging a.next:hover, #slideshow a.prev:hover {
	top: 323px;
}
#slideshow .paging a.prev {
	background-position:0px -446px;
	right: 44px;
}
#slideshow ul, #slideshow ul li{margin:0;padding:0;}


ul.pagination {
	display: none;
}


/*======= footer  =======*/

.no-indent {
	margin: 0 !important;
	padding: 0 !important;
}
#footer {
	background:#333;
	margin:20px 0 0 0;
	padding:0 1%;
	overflow: hidden;
}
#footer .wrapper {
	padding: 35px 0 0 0;
}
#footer strong {
	display: block;
	width: 100%;
	padding: 4px 0 0 0;
	overflow: hidden;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: normal;
	color: #7e7e7e;
}
#footer p {
	background:url('../img/layout/gestudio.png') no-repeat left 3px;
	padding: 0 0 5px 25px;
	line-height: 2em;
	font-size: 1em;
	color: #7e7e7e;
}
#footer p.input{background:none;}
#footer p a {
	text-decoration: none;
	color: #7e7e7e;
}
#footer p a:hover {
	text-decoration: underline;
}
#footer-menu {
	float: left;
	margin: 0 0 0 -1px;
	overflow: hidden;
}
#footer-menu li {
	background: url(../img/layout/divider.jpg) no-repeat 0% 5px;
	float: left;
	margin: 0 0 0 -1px;
	padding: 0 8px 0 8px;
	line-height: 1.5em;
	font-size: 1em;
	color: #4f4f4f;
}
#footer-menu li a {
	text-decoration: none;
	color: #4f4f4f;
}
#footer-menu li a:hover {
	color: red;
}
#footer-menu li.active a {
	color: #eee;
}
/*======= subscribe form footer =======*/
#subscribe-form {
	background: url(../img/layout/subscribe-input.png) no-repeat 0% 0%;
	width: 248px;
	height: 31px;
	overflow: hidden;
	float: right;
}
#subscribe-form p{margin:0;padding:0;}
#subscribe-form input {
	background: none;
	width: 160px;
	height: 15px;
	padding: 8px 8px 8px 8px;
	border-radius:0px;
	border: none;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000;
}
#subscribe-form input#subscribe-submit {
	background: url(../img/layout/subscribe-submit.png) no-repeat 0% 0%;
	width: 72px;
	height: 31px;
	padding: 0;
	border: none;
	border-radius:0px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
#subscribe-form input#subscribe-submit:hover {
	color: #000;
}

hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
	color:#f1f1f1;
	background-color:#f1f1f1;
	background-repeat:repeat-x
}
p{margin:1em 0; line-height:1.4em;}
/* ----------------------------------------------------------------------------------------------------------
FORM STYLES
---------------------------------------------------------------------------------------------------------- */

form{}
fieldset{   border: 1px solid #ccc;    border-radius: 3px;    padding: 1%;}
fieldset legend{ font-weight: bold; color:#2E51AF;}

label{font-weight:bold; display:block; width:auto; color:black;margin:10px auto 1px auto;}
input, select, textarea{padding:4px; background:white; border:1px solid #333; width:250px; border-radius:3px; background:url(../img/sprite.png);}
textarea{width:400px;height:75px; background:white;}
input:hover, select:hover, textarea:hover{border:1px solid #000;}
input:active, select:active, textarea:active{border:1px solid red;}

div.input{margin:5px auto;}
div.error{color:red;}
div.checkbox input{float:left; width:30px;}
div.submit input{margin:10px auto; background-position: 0px 746px; color:white; font-weight:bold;}
div.submit input:hover{background-position: 0px 735px;cursor: pointer;}


#flashMessage{padding:5px; color:#323232;background:#B2DD32; border:1px solid green; border-radius:3px;}







/**
 * Tables
 */
table { width: 100%; border: 1px solid #dfdfdf; background-color: #fff; clear: both; }
table tr th { padding: 10px; background-color: #e7e7e7; color: #464646; border-bottom: 0px; text-align: left; }
table tr td { padding: 10px; border-bottom: 1px solid #dfdfdf; vertical-align: middle; }
table tr td a { font-weight: normal; text-decoration: none; padding: 0px 5px 0px 0px; }
table tr td a:hover { text-decoration: underline; }
table tr td div.operations a { font-size: 12px; margin-right: 15px; text-decoration: none; text-transform: lowercase; }
table tr td img { margin: 0px; padding: 0px; }
.striped { background-color: #f9f9f9; }

div.level-0 { }
div.level-1 { margin-left: 30px; }

img.permission-toggle:hover { cursor: pointer; }
img.hook-toggle:hover { cursor: pointer; }

.controller-row { background: #6f6f6f; color: #fff; font-weight: bold; }
.controller-row a { color: #efefef; }
.controller:hover { cursor: pointer; }
.collapse { background: url('../img/icons/bullet_arrow_down.png') no-repeat; padding-left: 15px; }
.expand { background: url('../img/icons/bullet_arrow_right.png') no-repeat; padding-left: 15px; }



ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 920px;
	background: #222;
	font-size: 1.2em;
	background: url(../img/layout/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(../img/layout/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../img/layout/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../img/layout/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../img/layout/dropdown_linkbg.gif) no-repeat 10px center;
}