<h1><?__('Contraseña enviada',1);?></h1>

<p><?__('Te hemos enviado la contraseña a tu buzón de correo, compruebalo y si no lo encuentras no olvides mirar la carpeta e correo basura antes de realizar de nuevo el proceso.');?></p>