<? $this->Html->addCrumb('Legal', '/info/legal'); ?>
<h1>Nota legal y politica de privacidad</h1>
<hr />
<p><b>Política de protección de datos:</b><br /> En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y su normativa de desarrollo,<?=Configure::read('SITE.TITLE');?> le informa de que los datos personales facilitados por usted mediante correo electrónico serán incorporados a un fichero automatizado cuyo responsable y titular es <?=Configure::read('SITE.TITLE');?>.</p>

<p><?=Configure::read('SITE.TITLE');?> no solicita en su página web datos a los usuarios que la visiten, por lo tanto, la comunicación de datos personales por el usuario a través de nuestro sitio web únicamente puede entenderse que tendrá lugar cuando éstos voluntariamente utilicen el formulario de la sección “contacto” o a través de las direcciones de correo electrónico publicadas en nuestro sitio web. La finalidad de los datos obtenidos es la de facilitarle la información requerida acerca de los servicios que ofrecemos.</p>

<p>En cualquiera de los casos anteriormente descritos con la cumplimentación de dicho formulario o el envío de correos electrónicos u otras comunicaciones a <?=Configure::read('SITE.TITLE');?>, el usuario presta su consentimiento expreso al tratamiento de sus datos de carácter personal y a recibir comunicaciones comerciales de los servicios y de la actividad de <?=Configure::read('SITE.TITLE');?> aceptando expresa e inequívocamente asimismo que puedan ser cedidos sus datos, exclusivamente para las finalidades que se han descrito en el párrafo anterior, a sociedades participadas por <?=Configure::read('SITE.TITLE');?> o a otras con las que se perfeccione acuerdos de colaboración.</p>

<p>En ningún caso <?=Configure::read('SITE.TITLE');?> utilizará los datos personales de los Usuarios para fines distintos de los anteriormente mencionados.</p>

<p>Del mismo modo le comunicamos que puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición al fichero mediante el envío por correo ordinario de su solicitud por escrito a la siguiente dirección: <?=Configure::read('SITE.TITLE');?> - <?=Configure::read('Site.address');?>.</p>

<p>Propiedad Intelectual : Todo el contenido de el sitio web <?=$_SERVER['SERVER_NAME'];?> así como el diseño del mismo, logos, composición y los Derechos de Propiedad Industrial de los productos y servicios de <?=Configure::read('SITE.TITLE');?> pertenecen a <?=Configure::read('SITE.TITLE');?>, a excepción de los logotipos de partners, colaboradores y metro de Madrid, y no pueden ser utilizados total o parcialmente sin haber obtenido previamente el consentimiento por escrito por parte de <?=Configure::read('SITE.TITLE');?> o de sus propietarios.</p>

<p><b>Uso de cookies</b>: <?=Configure::read('SITE.TITLE');?> utiliza en su sitio <?=$_SERVER['SERVER_NAME'];?> “cookies ” a fin de ofrecelerle una mejor experiencia de navegación y nunca como método para fines comerciales. </p>