<strong><? __('Hola Administrador');?>:</strong><br/><br/><br/>

<? __('Un cliente envia un mensaje desde el formulario de contacto de la tienda.'); ?><br /><br />

<strong><?__('Nombre');?>:</strong> <?=$this->data['Contact']['name']?><br />
<strong><?__('Teléfono');?>:</strong> <?=$this->data['Contact']['phone']?><br />
<strong><?__('Email');?>:</strong> <?=$this->data['Contact']['email']?><br /><br />

<strong><?__('Mensaje');?>:</strong><br /><br />

<?=$this->data['Contact']['details']?>

