<!--HTML version-->
<p><?=$html->image(Configure::read('Security.protocol').'://'.$_SERVER['HTTP_HOST'].'/img/layout/newsletter.gif',array('alt'=>__('Newsletter de noticias y ofertas.',1)));?>
<!--<h1><?=$data['title'];?></h1>-->

<?=nl2br($data['message']);?></p>
