<? __('Hola');?> <?=$user['UserDetail']['name'];?>,<br/><br/>

<? __('Hemos recibido una solicitud para cambiar la clave de acceso a tu cuenta personal.'); ?><br/>
<? __('La petición ha sido realizada desde la siguiente dirección IP.'); ?> <?=$_SERVER['REMOTE_ADDR']?>.<br/><br/>

<? __('Tu nueva clave de acceso es'); ?>: <?=$user['User']['passwordR']?><br/>
<? __('Recuerda que para acceder tu email es'); ?>: <?=$user['User']['email']?><br/><br/>

<a href="<?=Configure::read('SECURITY.PROTOCOL')?>://<?php echo $_SERVER['HTTP_HOST'].'/users/login';?>"><?=Configure::read('SECURITY.PROTOCOL')?>://<?php echo $_SERVER['HTTP_HOST'].'/users/login';?></a>
