<? $this->Html->addCrumb(__('Fotos',1),'/photos'); ?>
<? $this->Html->addCrumb(__('Ver foto',1)); ?>

<div style="width:99%;padding:1% 0; margin:auto;background:#000;text-align:center;">
<?php echo $this->Html->image('uploads/'.$photo['Photo']['file']); ?>
</div>
<p><?=nl2br($photo['Photo']['description'])?></p>