<?
$this->Html->addCrumb(__('Extranet',1), '/admin/server');
$this->Html->addCrumb(__('Registros de sucesos',1));
?>
<h1><? __('Registros de sucesos'); ?></h1>
<ul>
<?php
foreach($logs as $log){
  ?><li><?=$html->link($log,array($log))?></li><?
}
?>
</ul>

<?
if(!empty($file)){ ?><pre><?=join('',array_reverse($file))?></pre><? }
?>